
body {   
    height: auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: beige;
    text-align: center; 
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right,black,black,darkblue,maroon,black,black);
    
}
body.light{
    background: linear-gradient(to right,black,darkblue,lightgreen,maroon,black);
}
h1 {
    margin: 0% auto;
    display: flex;
    padding: 5px 0px;
    border: 5px solid rgba(0, 0, 139, 0.575);
    background-image: url(PoliceLightsGif.gif);
    background-size: cover;
    background-position: center;
    border-radius: 100%;
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 20px;
    color: wheat;
    text-shadow: 2px 2px 4px darkblue;
    letter-spacing: 2px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-shadow: 2px 2px 15px lightblue;
    width: 90%;
    text-align: center;
    align-items: center;
    justify-content: center;
 
}
h1 ion-icon{
    background-image: url(lollipop_3GIF.gif);
    background-size: cover;
    background-position: center;
    color:rgba(255, 217, 0, 0.74);
    border-bottom: 1px solid gold;
    box-shadow: 2px 2px 4px blue;
    border-radius: 50px;
    cursor: pointer;
}
 
body.light h1{
    color: white;
    text-shadow: 2px 2px 4px gold;
}
h1 ion-icon{
    background-image: url(lollipop_3GIF.gif);
    background-size: cover;
    background-position: center;
    color:rgba(255, 217, 0, 0.74);
    border-bottom: 1px solid gold;
    box-shadow: 2px 2px 4px blue;
    border-radius: 50px;
    cursor: pointer;
}


label {
    display: block;
    margin-bottom: 5px;
}

label {
    display: block;
    margin-bottom: 5px;
}

#italic{
 font-style: italic;  
 color: darkblue;
 box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
 
}
 .btn-a{
     background-color: transparent;
     width: 10%;
     padding: 2px;
     border-radius: 15px;
     text-decoration: none;
     font-weight: bold;
     font-size: 10px;
     text-shadow: 2px 2px 4px gold;
     border: 4px solid gold
     
 }
 .btn-a:active:hover{
    background-color: white;
    color: gold;
 }

 #jj{
    margin: 0% auto;
    text-align: center;
    align-items: center;
    font-style: italic;
    color: darkgray;
    text-shadow: 2px 2pX 4px black;
    background-image: url(MusicGig.gif);
    background-position: center;
    background-size: 20%;
    border-radius: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 140px;
    opacity: 90%;
    
 }
 #jj ion-icon{
    color: rgba(255, 217, 0, 0.651);
 }
 #submit:active:focus-within{
    background-color: gold;
    color: #fff;
 }
 .image img{
     border-radius: 100px;
     box-shadow: 2px 2px 4px goldenrod;
     width: 18em;
     border: 0.8em #171a1d solid;
     border-radius: 50%;
     box-shadow: 0.8em 0.8em 1.8em #151618,
                 -0.8em -0.8em 1em #33353b;
 }
 .image img:hover{
     box-shadow: 1px 2pc 1px rgba(0, 0, 255, 0.322);
     transform: scale(1.05);
 }
 #italic{
    color: gold;
    text-shadow:2px 2px 6px darkblue;
    font-weight: bold;
   
 }
 #italic:hover{
     color: white;
     text-shadow: 3px 2px 5px gold;
   
 }

 b p{
    text-shadow: 2px 2px 4px gold;
    color: white;
 }
 h2{
    background-image: url(wantedpic.png);
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    width: 350px;
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.678);
    text-shadow: 1px 1px 1px rgb(145, 88, 15);
    box-shadow: 2px 2px 20px gold;
    margin: 0% auto;
    font-weight: bold;
    border-bottom: 1px solid gold;
    font-family: Georgia, 'Times New Roman', Times, serif;
 }
 form{
    background-color: transparent;
    text-align: center;
    margin: 0 auto;
 }
 footer{
margin: 0% auto;
flex-direction: column;
bottom: 0%;
left: 0;
position: fixed;
align-items: center;
width: 100%;
background-color: rgba(0, 0, 0, 0.5);
display: flex;
padding: 5px;
color: rgb(48, 47, 47);

}
footer p{
width: 200px;
text-align: center;
background-color: rgba(255, 255, 255, 0.062);
padding: 5px;
border-radius: 20px;
}
footer ion-icon{
color: rgba(255, 217, 0, 0.411);
}

.homebtn{
margin: 0% auto;
position: fixed;
left: 5px;
bottom: 0px;
border-bottom: 1px solid gold;
box-shadow: 0px 2px 6px blue;
background-image: url(MusicGig.gif);
background-position: center;
background-size: 100%;
border-radius: 7px;
width: 50px;
display: flex;
justify-content: center;
padding: 2px 0px;
opacity: 80%;
margin-bottom: 5px;
cursor: pointer;

}
.homebtn ion-icon{
margin: 0% auto;
color: rgba(255, 217, 0, 0.568);
justify-content: center;
font-size: 25px;
display: flex;
align-items: center;

}
.homebtn ion-icon:hover{
color: gold;
}
.homebtn:hover{
color: gold;
transition: color 0.5s ease;
box-shadow: 2px 2px 20px gold;
transform: scale(1.10);
transition: 0.5s;
cursor: pointer;

}